<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="style.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="container">
      <div id="header_home">
        <p style="font-size: 20px; text-align: center; float: left; padding-top: 1%">개발자님 동네</p>
        <img id="img_hamburgermenu" src="images/hamburger.png" alt="hamburgermenu" style="max-width: 10%; height: auto; float: right" />
        <img id="img_search" src="images/돋보기.png" alt="search" style="max-width: 10%; height: auto; float: right; margin-right: 5%" />
      </div>
      <div id="footer_home">
        <div>
          <img
            id="img_hous"
            src="images/집.png"
            alt="hamburgermenu"
            style="max-width: 20%; height: auto; float: left; align-content: center"
          />
          <img
            id="img_person"
            src="images/사람.png"
            alt="search"
            style="max-width: 20%; height: auto; float: right; align-content: center"
          />
        </div>
        <div>
          <p>홈</p>
          <p>나의 당근</p>
        </div>
      </div>
    </div>
  </body>
</html>
