<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>goToLogin</title>
    <link rel="stylesheet" href="../css/style.css" th:href="@{../css/style.css}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="container">
      <div id="content">
        <p style="font-size: 15px; text-align: center; margin-top: 30%">입력하신 ABC@NAVER.COM으로</p>
        <p style="font-size: 15px; text-align: center">인증메일을 전송했습니다.</p>
        <p style="font-size: 15px; text-align: center">메일을 인증하고</p>
        <p style="font-size: 15px; text-align: center">Karrot 마켓을 시작해보세요</p>
      </div>
      <div id="footer">
        <button class="button btn joinBtn"  th:onclick="|location.href='/login'|" style="margin-top: 80%">로그인 하러가기</button>
      </div>
    </div>
  </body>
</html>
