<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Join</title>
    <link rel="stylesheet" href="../css/style.css" th:href="@{../css/style.css}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="container">
      <div id="header_login">
<!--
        <form  name="userForm"  th:action="@{/register}" th:object="${user}" method="post">
-->
          <form  name="userForm"  th:action="@{/register}"  method="post">

          <p style="font-size: 20px; text-align: left">회원가입</p>

            <div id="login-from">
              <p style="font-size: 20px; text-align: left; margin-top: 15%">이메일(ID)</p>
              <input class="input" placeholder="EMAIL" />
              <p style="font-size: 20px; text-align: left">비밀번호(PW)</p>
              <input type="password" class="input" placeholder="PASSWORD" />
              <p style="font-size: 20px; text-align: left">이름</p>
              <input class="input" placeholder="NAME"  />
              <p style="font-size: 20px; text-align: left">핸드폰번호</p>
              <input class="input" placeholder="PHONE"/>
              <p style="font-size: 20px; text-align: left">닉네임</p>
              <input class="input" placeholder="NICKNAME"  />
            </div>
        </form>
      </div>
      <div id="content">
<!--
        <div id="footerJoinBtn"><button class="button btn joinBtn" type="submit" th:onclick="|location.href='/goToLogin'|" >가입하기</button></div>
-->

        <div id="footerJoinBtn">
          <button class="button btn joinBtn" type="submit" value="join" >가입하기</button></div>
      </div>
    </div>
  </body>
</html>
