<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Login</title>
  <link rel="stylesheet" href="../css/style.css" th:href="@{../css/style.css}">
  <!--
      <link rel="stylesheet" href="style.css" />
-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
<div id="container">
  <div id="header_login">
    <p style="font-size: 20px; text-align: left; margin-bottom: 10px">로그인</p>
    <div>
      <form method="post" action="/login">
        <p style="font-size: 15px; text-align: left; margin-top: 30%">이메일(ID)</p>
        <input class="input" placeholder="EMAIL" name="email"/>
        <p style="font-size: 15px; text-align: left">비밀번호(PW)</p>
        <input style="margin-bottom: 30%" type="password" class="input" placeholder="PASSWORD" name="password" />
    </div>
  </div>
  <div id="content">
    <button class="button btn joinBtn" type="submit">로그인</button>
  </div>
  </form>
  <div id="footer">
    <p style="font-size: 15px; text-align: center">비밀번호를 잊어버리셨나요?</p>
    <p style="font-size: 10px; color: coral; text-align: center">
      <a style="font-size: 10px; color: coral; text-decoration: none">비밀번호 찾기</a>
    </p>
  </div>
</div>
</body>

</html>