<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css" th:href="@{../css/style.css}">

    <link rel="stylesheet" href="style.css" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
<div id="container">
    <div id="header_home">
        <p style="font-size: 20px; text-align: center; float: left; padding-top: 1%">나의 당근</p>
        <!-- <img id="img_hamburgermenu" src="img/hamburger.png" alt="hamburgermenu"
            style="max-width: 10%; height: auto; float: right" />
        <img id="img_search" src="img/돋보기.png" alt="search"
            style="max-width: 10%; height: auto; float: right; margin-right: 5%" /> -->
        <img id="img_hamburgermenu" src="img/hamburger.png" alt="hamburgermenu"
             style="max-width: 10%; height: auto; float: right" />
        <img id="img_search" src="img/돋보기.png" alt="search"
             style="max-width: 10%; height: auto; float: right; margin-right: 5%" />
    </div>
    <div id="contentProfile">
        <img id="img_profile" src="img/동그라미사람.png" alt="hamburgermenu"
             style="max-width: 50%; height: auto;  align-content: center; padding-left: 25%;margin-top: 20%;" />

        <input class="modifyNickname" style="width:100%;margin-top: 10%;" placeholder="닉네임" />

    </div>
</div>
<div id="footer_profile">
    <button style="width: 100%; height: 60%;"> 완료</button>
</div>
</div>

</div>
</body>

</html>