<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css" th:href="@{../css/style.css}">
<!--
    <link rel="stylesheet" href="style.css" />
-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div class="headerproduct">

            <img id="img_leftArrow" src="img/왼쪽화살표.png" alt="leftArrow"
                 style="max-width: 10%; height: auto; float: left; margin-top: 3%;  margin-left:3%; " />
            <img id="img_home" src="img/집.png" alt="leftArrow"
                 style="max-width: 10%; height: auto; float: left; margin-top: 3%; margin-left:3%; " />

        </div>

        <div class="userProfile">
            <div class="profilecommon"><img id="img_profile" src="img/동그라미사람.png" alt="leftArrow"
     style="max-width: 70%; height: auto; float: left; margin-top: 3%;  margin-left:3%; " /></div>
            <div class="profilecommon">
<!--
                <div style="align-content:center; margin-top: 30%;" th:text="${user.nicnkame}" name="nickname"> </div>
-->
                </div>
        </div>
        <div class="productContents">
            <div class="productInfo"></div>
            <div class="userSoldProducts"></div>
        </div>
        <div id="product_footer">
            <div class="productcommonimg">
                <img src="img/하트.png"  style="max-width: 50%; height: auto; float: left; margin-top: 3%; padding-left:15%; padding-right:5%; border-right:1px solid #bcbcbc   "/>
            </div>
            <div class="productcommonimg">
                <img src="img/채팅.png"  style="max-width: 50%; height: auto; float: left; margin-top: 3%;  margin-left:3%; "/>
            </div>
            <div class="productcommon">
                <button>댓글 보기</button>
            </div>
            <div class="productcommon">
                <button>댓글 남기기</button>
            </div>
        </div>
    </div>
</body>
</html>