﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <!--<link rel="stylesheet" href="../css/style.css" th:href="@{../css/style.css}">-->

    
    <link rel="stylesheet" href="style.css" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
<div id="container">
    <div id="header_home">
        <img id="img_leftArrow" src="images/왼쪽화살표.png" alt="leftArrow"
             style="max-width: 10%; height: auto; float: left; margin-bottom: 3%; " />
        <!--<img id="img_leftArrow" src="img/왼쪽화살표.png" alt="leftArrow"
            style="max-width: 10%; height: auto; float: left; margin-bottom: 3%; " />-->
        <p style="font-size: 20px; text-align: center; float: left; padding-top: 1%;padding-left: 5%;"> 판매상품 보기</p>
 
    </div>
    <div id="container_productlist">
        <div class="productinfo">
            <div class="productcell">
                <div class="productimg">
                    <img />
                </div>
                <div class="productdetail">
                    <div class="title">제목<div> 불러온 제목 </div></div>
                    <div class="place">장소<div> 불러온 장소 </div></div>
                    <div class="price">가격<div> 불러온 가격 </div></div>
                  
                    <div> <img /> n <img />n</div>
                </div>
            </div>
           
        </div>
     
 
    </div>

</div>



</body>

</html>